.cloud/
.storage/
OZW_Log.txt
deps/
home-assistant.log*
known_devices.yaml
pyozw.sqlite
secrets.yaml
!include/secrets.yaml
.*.august.conf
*.db-shm
*.db-wal
*.db
*.crtxxxxxxxxxxxxxxxxxxxxxxx
*.csr
*.key
*.js.map
*.pyc

# Generated images contain personal/private info
/custom_components/mail_and_packages/images/
!/custom_components/mail_and_packages/images/*.png
/www/mail_and_packages/
!/www/mail_and_packages/*.png
